@font-face {
    font-family: "Kanit-light";
    src: url(../fonts/kanit/Kanit-Light.ttf);
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: "Kanit-medium";
    src: url(../fonts/kanit/Kanit-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: "Kanit-bold";
    src: url(../fonts/kanit/Kanit-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}


