//Home-Landing
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;
}

.b-html-home {
    min-height: 100%;
    background-size: cover;
    box-sizing: border-box;
}

.b-body-home {
    height: inherit;
    background-image: url("../images/sub-hero.jpg");
    background-size: cover;
    background-position: center;
}

.b-content-hero {
    min-height: 50vh;
    border-bottom: 0.09rem solid var(--color-pink);
    margin-bottom: 6vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/landing-aid-camp.jpg");
    background-size: cover;
    background-position: center;
    &__title {
        background: rgba(0, 0, 0, 0.4);
        color: var(--color-white);
        font-size: 7rem;
        font-family: "Kanit-medium";
        text-transform: uppercase;
        text-shadow: (
            0px 1px 0px #999,
            0px 2px 0px #888,
            0px 3px 0px #777,
            0px 4px 0px #666,
            0px 5px 0px #555,
            0px 6px 0px #444,
            0px 7px 0px #333,
            0px 8px 7px #000000
        );
        text-align: center;
        width: 100%;
        margin: 0;
        @media (min-width: 768px) {
            font-size: 5rem;
        }
    }

    &__text {
        padding: 1.9rem 5rem;
        background: rgba(0, 0, 0, 0.4);
        color: var(--color-white);
        font-size: 3.5rem;
        font-family: "Kanit-light";
        text-shadow: 1px 1px 10px rgb(3, 3, 3);
        text-align: center;
        width: 100%;
        margin: 0;
        line-height: 1.5;
        @media (min-width: 768px) {
            font-size: 2.3rem;
        }
    }
}

.b-content-subhero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-content-txt {
    margin-top: 1rem;
    @media (min-width: 768px) {
        margin-top: 2rem;
    }
    &__text {
        color: var(--color-white);
        padding: 0 4rem;
        text-align: center;
        font-size: 2.9rem;
        font-family: "Kanit-medium";
        text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5),
            1.7px 1.7px 0px var(--color-dark);
        line-height: 1.4;
        @media (min-width: 768px) {
            font-size: 1.5rem;
            padding: 0 15rem;
            line-height: 1.7;
        }
    }
}

.b-content-btn {
    margin-top: 7rem;
    @media (min-width: 768px) {
        margin-top: 4.5rem;
    }
    &__button {
        border: 2px solid var(--color-blue);
        padding: 1rem 5rem;
        border-radius: 5rem;
        box-sizing: border-box;
        color: var(--color-blue);
        cursor: pointer;
        font-family: "Kanit-medium";
        font-size: 3rem;
        letter-spacing: 0.4rem;
        outline: 0;
        transition: all 0.3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        @media (min-width: 768px) {
            font-size: 1.2rem;
            padding: 0.5rem 3.5rem;
        }
        &:hover {
            border-color: var(--color-pink);
            color: var(--color-pink);
        }

        &:focus {
            color: var(--color-white);
        }

        &:active {
            border-color: var(--color-pink);
            color: var(--color-pink);
        }
    }
}

//------------------------>
