//Home-Landing-------------->
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;
}

.b-html-home {
    min-height: 100%;
    background-size: cover;
    box-sizing: border-box;
}

.b-body-home {
    height: inherit;
    background-image: url("../images/sub-hero.jpg");
    background-size: cover;
    background-position: center;
}

.b-content-hero {
    min-height: 50vh;
    border-bottom: 0.09rem solid var(--color-pink);
    margin-bottom: 6vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/landing-aid-camp.jpg");
    background-size: cover;
    background-position: center;
    &__title {
        background: rgba(0, 0, 0, 0.4);
        color: var(--color-white);
        font-size: 7rem;
        font-family: "Kanit-medium";
        text-transform: uppercase;
        text-shadow: (
            0px 1px 0px #999,
            0px 2px 0px #888,
            0px 3px 0px #777,
            0px 4px 0px #666,
            0px 5px 0px #555,
            0px 6px 0px #444,
            0px 7px 0px #333,
            0px 8px 7px #000000
        );
        text-align: center;
        width: 100%;
        margin: 0;
    }

    @media (min-width: 768px) {
        .b-content-hero {
            margin-bottom: 30vh;
        }
    }

    &__text {
        padding: 1.9rem 5rem;
        background: rgba(0, 0, 0, 0.4);
        color: var(--color-white);
        font-size: 3.5rem;
        font-family: "Kanit-light";
        text-shadow: 1px 1px 10px rgb(3, 3, 3);
        text-align: center;
        width: 100%;
        margin: 0;
        line-height: 1.5;
    }
}

.b-content-subhero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-content-txt {
    margin-top: 1rem;
    // @media (min-width: 768px) {
    //     margin-top: 2rem;
    // }
    &__text {
        color: var(--color-white);
        padding: 0 4rem;
        text-align: center;
        font-size: 2.9rem;
        font-family: "Kanit-medium";
        text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5),
            1.7px 1.7px 0px var(--color-dark);
        line-height: 1.4;
        // @media (min-width: 768px) {
        //     font-size: 1.5rem;
        //     padding: 0 15rem;
        //     line-height: 1.7;
        // }
    }
}

.b-content-btn {
    margin-top: 7rem;
    // @media screen and (min-width: 768px) {
    //     .b-content-btn {
    //         margin-top: 7rem;
    //     }
    // }
    &__button {
        border: 2px solid var(--color-blue);
        padding: 1rem 5rem;
        border-radius: 5rem;
        box-sizing: border-box;
        color: var(--color-blue);
        cursor: pointer;
        font-family: "Kanit-medium";
        font-size: 3rem;
        letter-spacing: 0.4rem;
        outline: 0;
        transition: all 0.3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        // @media screen and (min-width: 768px) {
        //     font-size: 1.2rem;
        //     padding: 0.5rem 3.5rem;
        // }
        &:hover {
            border-color: var(--color-pink);
            color: var(--color-pink);
        }

        &:focus {
            color: var(--color-white);
        }

        &:active {
            border-color: var(--color-pink);
            color: var(--color-pink);
        }
    }
}

//------------------------>

//Login-Page-------------->
.b-body-login {
    background-image: url("../images/sub-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.b-conten-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-text-login {
    margin-top: 15rem;
    margin-bottom: 6rem;
    &__txt {
        color: var(--color-pink);
        font-size: 7rem;
        font-family: "Kanit-medium";
        text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5),
            1.7px 1.7px 0px var(--color-dark);
    }
}

.b-form-login {
    background-color: #004e7a;
    border: 0.5rem solid var(--color-dark);
    border-radius: 2rem;
    padding: 2rem 0;
    margin: 0 7rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
}

.b-content-all {
    margin-top: 1rem;
    text-align: center;
    &__label {
        font-family: "Kanit-medium";
        font-size: 3.5rem;
        color: var(--color-blue);
        text-shadow: 1px 1px 10px rgba(3, 3, 3, 0.424);
        margin-bottom: 1rem;
    }

    &__input {
        width: 35rem;
        height: 4rem;
        border: 6.8px solid var(--color-dark);
        border-radius: 2rem;
        padding: 1rem 2rem;
        font-family: "Kanit-medium";
        font-size: 2.5rem;
        outline: none;
    }
}

.b-remember {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 1rem;
    &__label {
        margin-top: 0.6rem;
        font-family: "Kanit-ligth";
        font-size: 1.5rem;
        color: var(--color-blue);
        text-transform: uppercase;
        text-shadow: 1px 1px 10px rgba(3, 3, 3, 0.424);
    }
    &__check {
        margin-top: 1rem;
        font-size: 2rem;
        border: 1px solid var(--color-pink);
        width: 28px;
        height: 28px;
    }
}

.b-btn {
    text-align: center;
    margin-top: 1.5rem;
    &__button {
        border: 2px solid var(--color-dark);
        background-color: rgba(255, 255, 255, 0.24);
        padding: 0.5rem 4rem;
        border-radius: 5rem;
        box-sizing: border-box;
        color: var(--color-dark);
        cursor: pointer;
        font-family: "Kanit-medium";
        font-size: 3rem;
        letter-spacing: 0.1rem;
        outline: 0;
        transition: all 0.3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        &:hover {
            border-color: var(--color-pink);
            color: var(--color-pink);
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.294);
            background-color: rgba(0, 0, 0, 0.411);
        }

        &:focus {
            color: var(--color-white);
        }

        &:active {
            border-color: var(--color-pink);
            color: var(--color-pink);
        }
    }
}

.b-register-link {
    text-align: center;
    margin: 3rem 0;
    &__text {
        font-family: "Kanit-bold";
        font-size: 3rem;
        color: var(--color-white);
        text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.966);
        &:hover {
            border-color: var(--color-pink);
            color: var(--color-pink);
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.294);
        }

        &:focus {
            color: var(--color-white);
        }

        &:active {
            border-color: var(--color-pink);
            color: var(--color-pink);
        }
    }
}

//------------------------>

//Register-Page-------------->
.b-body-register {
    background-image: url("../images/register.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.b-text-register {
    margin: 2rem 0;
    &__txt {
        color: var(--color-pink);
        font-size: 7rem;
        font-family: "Kanit-medium";
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.959), 1px 1px 1px rgba(0, 0, 0, 0.5),
            1.7px 1.7px 0px var(--color-dark);
    }
}

.b-form-register {
    background-color: #004e7a;
    border: 0.5rem solid var(--color-dark);
    border-radius: 2rem;
    padding: 4rem 3rem;
    margin: 0 7rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
}

.b-name-input {
    width: 35rem;
    height: 4rem;
    border: 6.8px solid var(--color-dark);
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-family: "Kanit-medium";
    font-size: 2.5rem;
    outline: none;
}

.b-name-label {
    font-family: "Kanit-medium";
    font-size: 3.5rem;
    color: var(--color-blue);
    text-shadow: 1px 1px 10px rgba(3, 3, 3, 0.424);
    margin-bottom: 1rem;
}

//------------------------>

//Posts-Page-------------->

.b-body-posts {
    background-image: url("../images/posts-page.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.b-menu {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.623);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-bottom: 3.5px solid var(--color-pink);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.b-user {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 4rem;
    margin-top: 2rem;
}

.b-avatar {
    width: 100px;
    height: 100px;
    border-radius: 6rem;
    overflow: hidden;
    &__img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
    }
}

.b-avatar-name {
    font-family: "Kanit-light";
    font-size: 2.6rem;
    color: var(--color-white);
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.424);
}

.b-nav {
    border-bottom: 4px solid var(--color-pink);
    border-bottom-left-radius: 2rem;
    padding-left: 2rem;
    &__link {
        margin-right: 3.5rem;
        font-family: "Kanit-light";
        font-size: 3.2rem;
        color: var(--color-white);
        text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.424);
        &:hover {
            color: var(--color-pink);
        }
    }
}

.b-card-post {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem 6rem 3rem;
    border: 5px solid var(--color-dark);
    border-radius: 2rem;
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
}

.b-content-post {
    padding: 1rem 3rem;
}

.b-head-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px dashed var(--color-pink);
    margin-top: 0.9rem;
    & h2 {
        font-family: "Kanit-medium";
        font-size: 2.1rem;
        color: var(--color-dark);
    }

    &__user {
        display: flex;
        & p {
            font-family: "Kanit-medium";
            font-size: 1.3rem;
            margin-left: 1rem;
            color: rgba(0, 0, 0, 0.555);
        }
    }
}

.b-head-bootcamps {
    align-items: center;
    border-bottom: 4px dashed var(--color-pink);

    &__txt {
        margin: 0;
        font-family: "Kanit-bold";
        font-size: 2.34rem;
        text-align: center;
        color: var(--color-dark);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.589);
        letter-spacing: 0.1rem;
    }
}

.b-head-intro {
    align-items: center;
    border-bottom: 4px dashed var(--color-pink);
    &__txt {
        margin: 0;
        font-family: "Kanit-light";
        font-size: 1.98rem;
        text-align: center;
        color:var(--color-pink);
    }
}

.b-head-desc{
    margin: 1.5rem 0;

    &__txt{
        margin: 0;
        font-family: "Kanit-medium";
        font-size: 1.68rem;

    }

}

//------------------------>
